{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - En maintenance {% endblock %}
{% block contenu %} <h2>Le site est en maintenance, revenez dans quelques minutes </h2>
{% endblock %}