{% extends "base.html.twig" %}
{% block title %} {{ parent() }}{% endblock %}
{% block contenu %}

<h2>Réinitialisation de mot de passe</h2>

{% if form.message is defined %}
<p>{{ form.message }}</p>
{% else %}
<form class="form-signin" method="post" action="index.php?page=mdp_oublie">
    <div class="form-group">
        <label for="email">Adresse email :</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <button class="btn btn-lg btn-block" type="submit">Envoyer</button>
</form>
{% endif %}

{% endblock %}